@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4zv2fk');
  src:  url('../fonts/icomoon.eot?4zv2fk#iefix') format('embedded-opentype'),
	    url('../fonts/icomoon.ttf?4zv2fk') format('truetype'),
	    url('../fonts/icomoon.woff?4zv2fk') format('woff'),
	    url('../fonts/icomoon.svg?4zv2fk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-wechat:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\ea92";
}

 
@font-face {
    font-family: "Gotham Book Italic";
    src: url(../fonts/GothamBookItalic.eot),
        url(../fonts/GothamBookItalic.woff),
        url(../fonts/GothamBookItalic.woff2),;
}
@font-face {
    font-family: "Gotham Book Regular";
    src: url(../fonts/GothamBookRegular.eot),
        url(../fonts/GothamBookRegular.woff),
        url(../fonts/GothamBookRegular.woff2);
}
@font-face {
    font-family: "Gotham Medium";
    src: url(../fonts/GothamMedium.eot),
        url(../fonts/GothamMedium.woff),
        url(../fonts/GothamMedium.woff2);
}

$gray: #e9e9e9;
$light-orange: #dcc4b5;
$almost-black: #27252b;

.mercury {
	font-family: "MercuryDisplayItalic";
	font-weight: normal;
	font-style: italic;
}

$mercury-i: "MercuryDisplayItalic"; 
$gotham-i: "Gotham Book Italic";
$gotham-r: "Gotham Book Regular";
$gotham-m: "Gotham Medium"; 

/*** COLOURS ***/

$white: #ffffff;
$black: #000000;

$dgrey: #27252c;
$pink: #dcc4b5;
$lgrey: #c5c5c5;

$bglgrey: #e9e9e9;
$bgdgrey: #4d4a56;
$bglpink: #ebe1db;

$serif: 'Mercury Display', serif;
$sans: 'Gotham', sans-serif;

.transition{
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s
 } 

a {
  @extend .transition;
}

.resp-img {
  width: 100%;
  height: auto;
}

.btn, .btn:visited {
  border: 2px solid $pink;
  color: $pink;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px 8px;
  border-radius: 0px;
  font-weight: 600;
  @extend .transition;
  white-space: normal;
  &:hover, &:active, &:focus {
    background-color: $pink;
    color: $white;

  }
}

.btn-hollow {
  display: inline-block;
  border: 3px solid $dgrey;
  color: $dgrey;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 25px;

  &:hover, &:active {
    background: $dgrey;
    color: $white;
    text-decoration: none;
  }
}


.vertical-align {
    left: 0;
    right: 0;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    text-align: center;
    padding: 0px 15px;
}


.padding1 {
  padding: 35px 0px;
}



.mobile-only {
  display: block !important;
  @media (min-width:768px) {
    display: none !important;
  }
}
.desktop-only {
  display: none !important;
  @media (min-width:768px) {
    display: block !important;
  }
} 

h2 {
	@media screen and (max-width: 991px) {
		font-size: 26px;
	}
}

h3 {
	@media screen and (max-width: 991px) {
		font-size: 22px;
	}

}

/*html, body, #page, #home, .intro {height: 100%;}*/ 

#home,
#amenities,
#features {

	.intro {
		
		width: 100%;

		h2 {
			color: $light-orange;
			border-bottom: 2px solid;
			display: inline;
			font-size: 34px;
			font-family: $gotham-r;
			text-transform: uppercase;
			line-height: 1.5;
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 28px;
			}
		}
		.intro-logo {
			margin: 40px 0 30px;
			img {
				margin: auto;
				@media (min-width: 768px) {
					max-width: 415px;
				}
				@media (min-width: 992px) {
					max-width: 100%;
				}

			}
		}
		h3 {
			color: $light-orange;
			@extend .mercury;
			font-style: italic;
			font-size: 33px;
			@media (min-width: 768px) and (max-width: 991px) {
				font-size: 27px;
			}
		}
	}
	.intro-desc {
		background-color: $gray;
		padding: 55px 0;
		@media screen and (max-width: 767px) {
			padding: 28px 0px;
		}
		@media screen and (max-width: 991px) {
			padding: 30px 0 40px;
		}
		p {
			color: #6c6d70;
		}
	}
	.info {

		.img, .description {
			padding: 0;
		}
		.description {
			margin-top: 50px;
			.box-text {
				max-width: 215px;
				margin: 0 auto; 
				@media (min-width: 768px) {
					max-width: 325px;
				}
				@media (min-width: 992px) {
					max-width: 350px;
				}
				h3 {
				}
			}
		}
		img {
			width: 100%;
		}
		h3 {
			@extend .mercury;
			font-size: 28px;
			color: $almost-black;
			margin-top: 0;
		}
		p {
			color: $almost-black;
		}
	}
}



/* ################################## HEADER STYLES ################################## */

header {
	@media (min-width: 992px) {
		position: fixed;
		width: 100%;
		background-color: #fff;
		z-index: 1;
	}	

	&.fixed {
		.nav a {

			@media (min-width: 992px) and (max-width: 1199px) {
				padding: 35px 10px !important;
			}
			@media (min-width: 1200px) {
				padding: 35px 19px !important;
			}
		}
	}

	#top-line {
		background: #27252c;
		text-transform: uppercase;
		padding: 0;

		ul {
			float: right;
			margin: 0;
			display: table;

			a {
				padding: 15px 25px;
				display: block;
				color: #fff;
				font-family: $gotham-m;

				&:hover {
					text-decoration: none;
					background-color: #6c6d70 !important;
				}
			}
			li {padding: 0;}
			li:last-child a {
				background: $light-orange;
				color: $almost-black;

				&:hover {color: #fff;}
			}
		}
		
	}
	.nav {
		a {
			text-transform: uppercase;
			color: #27252c;
			font-family: $gotham-m;
			padding: 20px 15px;
			transition: none;
			@media screen and (min-width: 600px) {
				padding: 50px 10px;
				transition: none;
			}
			@media screen and (min-width: 992px) {
				padding: 35px 10px;
				transition: none;
			}
			@media (min-width: 1200px) {
				padding: 35px 19px;
			}
			&.active:after {
				content: '';
				display: block;
				height: 2px;
				background: $almost-black;
				position: absolute;
				@media screen and (min-width: 1200px) { 
					width: calc(100% - 38px);
				}
				@media screen and (min-width: 992px) and (max-width: 1199px) {
					width: calc(100% - 20px);
				}
			}

		}
		li:hover a:after {
			content: '';
			display: inline-block;
			height: 2px;
			background: $almost-black;
			position: absolute;
			@media screen and (min-width: 1200px) { 
				width: calc(100% - 38px);
			}
			@media screen and (min-width: 992px) and (max-width: 1199px) {
				width: calc(100% - 20px);
			}
		}
		>li>a:hover {
			background-color: transparent;
			text-decoration: none;
			
		}
	}
	.navbar-brand {
		display: block;
		margin-left: 0 !important;
		height: auto;
		padding: 19px 45px;

		@media screen and (max-width: 991px) {
			float: none;
		}
		@media screen and (min-width: 992px) and (max-width: 1199px) {
			padding: 19px 7px;
		}
		img {
			@media screen and (max-width: 991px) {
				margin: auto;
			}
		}
	}
	.navbar-header {
		background-color: #cbcbcb;
		text-align: center;
		margin: 0 !important;

		.icon-bar {
			background-color: $almost-black;
			width: 30px;
		}
	}
	.navbar-toggle {
		float: none;
		margin-right: 0;
		padding: 0px 10px;
		@media (min-width: 600px) {
			padding: 5px 10px;
		}
	}
	.logo-sm {
		@media screen and (max-width: 991px) {
			margin: 15px 0;
		}
	}

	.navbar {
		margin: 0;
		border: none;
		border-bottom: 1px solid #c5c5c5;
		border-radius: 0;

		.container,
		.navbar-collapse {
			padding: 0;
			@media screen and (max-width: 991px) {
				background-color: $gray;
			}
			ul.nav {
				@media screen and (max-width: 991px) {
					margin: 0 !important;
					text-align: center;
				}
				li {
					&:after {
						@media screen and (max-width: 991px) {
						content: '';
						display: block;
						height: 1px;
						width: 13px;
						background-color: $almost-black;
						margin: auto;
						}	
					}
					a:hover {
						@media screen and (max-width: 991px) {
							text-decoration: underline;
						}
					}
					a.active {
						@media (min-width: 992px) {
							content: '';
							display: block;
							height: 2px;
						}
					}
				}
				li:hover a:after, li a.active:after
				 {
					@media (min-width: 992px) {
						content: '';
						display: block;
						height: 2px;
					}
					
				}
				&:nth-of-type(2) li:last-child:after {
					@media screen and (max-width: 991px) {
						display: none;
					}
				}
				
			}
			
		}
		.container {
			@media screen and (min-width: 768px) and (max-width: 991px) {
				width: 100%;
			}
		}
	}
	.responsive-nav {
		@media screen and (max-width: 767px) {
			overflow-y: scroll;
		}
		@media (min-width: 992px) {
				height: inherit !important;
		}
	}
	.extended-nav {
		background-color: $light-orange;
		text-align: center;
		width: 100%;
		z-index: 999;
		a {
			text-transform: uppercase;
			padding: 15px 0;
			display: block;
			color: $almost-black;
			font-family: $gotham-m;
			@media (min-width: 600px) {
				padding: 35px 0;
			}
			@media (min-width: 992px) {
				padding: 25px 0;
			}
			&.last {
				background-color: $light-orange;
				color: $almost-black;
			}
			&:hover {
				text-decoration: none;
				background-color: darken($light-orange,10%);
				color: #fff;
			}
		}
			tr:nth-child(2) {
				td:first-child {
					a {
						background-color: #6c6d70;
					}
				}
			}
	}
}

p {
	font-size: 13px;
	letter-spacing: 1.2px;
	font-family: $gotham-r;
}




/* ################################## HOME PAGE STYLES ################################## */

.home.overflow-h {
	header {
		@media (max-width: 767px) {
			position: relative !important;
			background: rgba(255,255,255,1) !important;
			width: 100%;
		}
	}
}

.home {
	header {
		@media (max-width: 767px) {
			position: absolute;
			background: rgba(255,255,255,0.9);
			width: 100%;
		}
		.navbar-brand {
			display: none;
		}
		.nav a {
			@media screen and (min-width: 992px) and (max-width: 1199px) {
				padding: 35px 25px;
			}
			@media (min-width: 1200px) {
				padding: 35px 39px;
			}
		}
		.nav li:hover a:after {

			@media screen and (min-width: 1200px) { 
				width: calc(100% - 78px);
			}
			@media screen and (min-width: 992px) and (max-width: 1199px) {
				width: calc(100% - 50px);
			}
		}
	}
	

	#home {

		.intro {
			background: url(../img/banner-home-sm.jpg) no-repeat center bottom;
			background-size: cover;
			padding: 175px 0 0px;
			@media screen and (min-width: 480px) { 
				padding: 185px 0 10px;
			}
			@media screen and (min-width: 768px) {
				background: url(../img/banner-home.jpg) center bottom no-repeat;
				background-size: cover;
				padding: 68px 0 15px;
			}
			@media screen and (min-width: 992px) {
				padding-top: 180px;
			}
			.text-center {
				@media (max-width: 479px) {
					max-width: 300px;
					margin: 0 auto;
				}
			}
			h2 {
				font-size: 30px;
				@media screen and (min-width: 480px) {
					font-size: 24px;
				}
				@media (min-width: 992px) {
					font-size: 30px;
				}
			}
			h3 {
				margin-top: 10px;
				font-size: 22px;
				@media screen and (min-width: 992px) {
					font-size: 28px;
				}
			}
			.intro-logo {
				@media screen and (max-width: 479px) {
					display: none;
				}
				@media screen and (max-width: 767px) {
					max-width: 350px;
	   				margin: 30px auto;
				}
				img {
					@media screen and (max-width: 767px) {
						display: block !important;
					}

					@media (min-width: 992px) {
						max-width: 455px;
					}
				}
			}
			.info-link {
				color: #000;
				background-color: $light-orange;
				border-color: $light-orange;
				&:hover {
					background-color: darken($light-orange, 10%);
					border-color: darken($light-orange, 10%);
				}
			}
		}
		.arrow-down {
			height: 30px;
			width: 30px;
			margin: 60px auto 0px;
			padding-bottom: 35px;
			cursor: pointer;
			@media screen and (min-width: 768px) {
				margin: 120px auto auto;
			}
			@media (min-width: 992px) {
				margin-top: 120px;
			}
			@media (min-width: 1200px) {
				margin-top: 150px;
			}
			&:before,
			&:after {
				content: '';
				display: block;
				height: 20px;
				width: 1px;
				background-color: #fff;
				position: absolute;
			}
			&:before {
				transform: rotate(-45deg);
				margin-left: 7px;
			}
			&:after {
				transform: rotate(45deg);
				margin-left: 21px;
			}
		}
		.intro-desc {
			padding: 50px 0px 40px;
			@media screen and (min-width: 480px) {
				padding: 50px 0 40px;
			}
			@media screen and (min-width: 600px) {
				padding: 55px 0;
			}
			@media (min-width: 768px) {
				padding: 55px 0 !important;
			}		
			@media (min-width: 1200px) {
				padding: 65px 0px !important;
			}

			h3 {
				@extend .mercury;
				font-size: 26px;
				color: $almost-black;
				margin: 0 auto;
				max-width: 235px;
				@media screen and (min-width: 480px) {
					margin: 0 auto;
					max-width: 275px;
				}
				@media (min-width: 600px) {
					max-width: 320px;
				}
				@media (min-width: 768px) {
					font-size: 30px;
					max-width: 500px;
				}
			}
			p {
				max-width: 500px;
				margin: 0 auto;
				@media (min-width: 768px) {
					max-width: 600px;
				}
			}
		}
		.intro-video {
			margin-bottom: -5px;
			position: relative;
			@media screen and (max-width: 479px) {
				height: 215px;
				background: #000000;
				width:100%;
				overflow: hidden;
			}
			video {
				@media screen and (max-width: 479px) {
					object-fit: inherit;
					width: auto;
					height: 100%;
				}
			}
			.video-controls {
				position: absolute;
				width: 100%;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				& > div {
					display: inline-block;
					margin: 0 auto;
				}
				p {
					@media screen and (max-width: 767px) {
						margin-bottom: 0px;
					}
				}
			}
			video {
				object-fit: cover;
				width: 100%;
				cursor: pointer;
			}
			.video-icon {
				height: 52px;
				width: 52px;
				background-color: $light-orange;
				margin: 0 auto 15px;
				&:after {
					content: '';
					display: block;
					position: absolute;
					border: 7px solid transparent;
					border-left: 7px solid black;
					margin: 19px 0 0 23px;
				}
			}
			a {
				text-transform: uppercase;
				color: $light-orange;
				font-family: $gotham-m;
				letter-spacing: 2px;
				cursor: pointer;
			}
		}

		.video-desc {
			background-color: $gray;
			padding: 35px 0 25px;
			@media screen and (max-width: 479px) {
				background: $white;
			}
			@media screen and (max-width: 767px) {
				padding: 35px 0 25px;
			}
			@media (min-width: 768px) {
				padding: 30px 0 22px;
			}
			p {
				color: #535454;
			}
		}
		.info {
			.description {
				@media screen and (max-width: 767px) {
					margin-bottom: 50px;
				}
				@media screen and (min-width: 992px) and (max-width: 1199px) {
					margin-top: 20px;
				}
				.box-text {
					h3 {
						font-size: 26px;
						@media (min-width: 768px) {
							max-width: 160px;
							font-size: 22px;
							margin: 0 auto; 
						}
					}
					.hr {
						@media (min-width: 768px) and (max-width: 991px) {
							margin: 15px auto;
						}
					}
					.info-link {
						margin-top: 12px;
						font-size: 12px;
						@media (min-width: 992px) {
							font-size: 14px;
							
						}
					}
				}
			}
			img {
				@media screen and (max-width: 991px) {
					width: 100%;
				}
			}
		}
		.gallery {
			background-color: $gray;
			padding: 40px 0px 50px;
		
			@media (min-width: 768px) {
				padding: 30px 0px 60px;
			}
			@media (min-width: 992px) {
				padding: 45px 0 50px;
			}
			@media (min-width: 1200px) {
				padding: 60px 0 50px;
			}
			.row > div:first-child {
				@media screen and (min-width: 768px) {
					padding-right: 0px;
				}
			}
			h3 { 
				@extend .mercury;
				font-size: 30px;
				color: $almost-black;
				max-width: 280px;
    			margin: 0 auto 30px;
			}
			p {
				margin-bottom: 35px;
				color: $almost-black;
			}
			
			.info-link {
				@media screen and (max-width: 479px) {
					margin-top: 30px;
					font-size: 14px;
				}
				@media (min-width: 768px) and (max-width: 991px) {
					margin-top: 25px;
				}
			}
		}
		.info h3, .gallery h3, .contact-us h3 {
			@media screen and (max-width: 479px) {
				font-size: 30px !important;
			}
		}
	}

}


	.gallery, #gallery {
		.row {
			@media screen and (min-width: 768px) {
				margin: 0;
			}
			a {
				display: block;
				margin-bottom: 8px; 
				@media (min-width: 768px) {
					margin: 0px;
					padding: 5px;
				}
				img {
					width: 100%;
					margin: 0px;
				}
			}
			.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
				@media (min-width: 768px) {
					padding: 0px;
				}
			}
		}
		img {
			display: block;
			margin: auto;
			width: 100%;
			object-fit: cover;
			object-position: center bottom;
			transition: all .4s;
			&:hover {
				opacity: .5;
				transition: all .4s;
			}
		} 

	}


/* ################################## GALLERY PAGE ################################## */

#gallery {
	padding: 10px 0 30px;
	@media (min-width: 992px) {
		padding: 141px 0 90px;
	}
	.container {
	}

	h3 {
		font-size: 24px;
		@extend .mercury;
		@media (min-width: 992px) {
			font-size: 30px;
		}
		
	}
	p {
		margin: 22px 0px 20px;
    	font-size: 12px;
		@media (min-width: 992px) {
			margin-top: 40px;
			font-size: 14px;
		}
		
	}
	
	.gallery {
		
	}
	
	
}




/* ################################## AMENITIES PAGE ################################## */


#amenities, #features, #neighborhood, #views, #contact {
	@media (min-width: 992px) {
		padding-top: 141px;
	}
	.intro {
		padding: 20px 0px 50px;
		@media (min-width: 992px) {
			padding: 35px 0 60px;
		}
		h2 {
			font-size: 25px;
			@media (min-width: 992px) {
				font-size: 30px;
			}
		}
		h3 {
			font-size: 24px; 
			@extend .mercury;
			@media (min-width: 992px) {
				font-size: 28px;
			}
		}
	}
	.info {
		.description {
			margin: 0px;

		}
		.box-text {
			padding: 40px 0 30px;
			h3 {
				font-size: 24px;
			}
		}
	}
}

#amenities, #features {
	.info {
		padding: 0px;
		.description {
			margin: 0px;

		}
		.box-text {

			@media (min-width: 768px) and (max-width: 991px) {
				padding: 15px 15px 0px;
				max-width: 325px !important; 
			}
			h3 {
				br {
					@media (min-width: 768px) and (max-width: 991px) {
						display: none;
					}
				}
			}
			.hr {
				@media (min-width: 768px) and (max-width: 991px) {
					margin: 12px auto;
				}
			}
			p {
				@media (min-width: 768px) and (max-width: 991px) {
					font-size: 10px;
				}
			}
		}
	}
}



#amenities,
#features,
#contact {
	.intro {
		background: radial-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
					url(../img/bg.jpg) no-repeat center 93%;
		background-size: cover;
	}
}

#amenities,
#features {
	
	.arrow-left {
		left: 0;
	}
	.arrow-right {
		left: auto;
		right: 0;
	}
	.intro-desc {
		background-color: #fff;
		padding: 30px 0 15px;
		.box-text {
			max-width: 375px;
			margin: 0 auto;
		}
	}
	.info {
		background-color: #f3f3f3;
		h3 {
			font-size: 24px;
			@media (min-width: 992px) {
				font-size: 28px !important;
			}
		}
		.info .hr:not(.xs) {
			@media screen and (min-width: 768px) and (max-width: 991px) {
				margin: 15px auto;
			}
		}
	}
}
#amenities,
#features,
#neighborhood {
	.arrow-left,
	.arrow-right {
		background-color: $almost-black;
		height: 55px !important;
		width: 40px;
		top: auto;

		&:before {top: 19px;}
		&:after {top: 27px;}
		&:before,
		&:after {
			height: 12px;
			background-color: $light-orange;
		}
	}
	.carousel-control {
		background-image: none;
		opacity: 1;
		display: flex;
		align-items: center;
	}
}



/* ################################## FEATURES PAGE ###################################### */




/* ################################## NEIGHBORHOOD PAGE ################################## */
#neighborhood {
	.intro {
		padding-bottom: 20px;
	}
	.container {
		@media screen and (max-width: 767px) {
			padding: 0;
		}
		@media screen and (min-width: 768px) {
			padding: 0 40px;
		}
	}
	.arrow-left {left: -40px;}
	.arrow-right {right: -40px;}
	.carousel {
		margin: 35px 0px 0px;
		@media (min-width: 992px) {
			margin: 50px
		}
		background-color: #f3f3f3;
		.col-md-6 {
			@media (min-width: 768px) {
				width: 50%;

			}
		}
		img {
			@media screen and (max-width: 767px) {
				width: 100%;
			}
		}
		.description {
			padding: 10px 0px 65px;
			@media screen and (min-width: 768px) {
				padding: 0px; 
				margin-bottom: 30px;
			}
			@media screen and (min-width: 992px) {
				padding: 35px 0 30px; 
				margin-bottom: 30px;
			}
			.box-text {
			    margin: auto;
			    text-align: Center;
			    padding: 0px 30px;
			    @media (min-width: 992px) {
			     max-width: 300px;
			    }
			   
			}
		}
		.col-md-6 {

		}
		
	}
	.carousel-control {
		@media screen and (max-width: 767px) {
			display: block;
			width: 50%;
		}
		.arrow-left {
			@media screen and (max-width: 767px) {
				left: auto;
				right: 0;
				bottom: 0;
				border-right: 1px solid $light-orange;
			}
		}
		.arrow-right {
			@media screen and (max-width: 767px) {
				right: auto;
				left: 0;
				bottom: 0;
			}
		}
	}
	h2 {
		font-family: $gotham-r;
	}
	h3 {
		@extend .mercury;
		font-size: 30px;
	}
	.info {
		.description {
			display: block;
		}
		.box-text {
			padding: 0px 15px;
		}
	}

}
#map {
	width: 100%;
	height: 250px;
	@media (min-width: 600px) {
		height: 350px;
	}
	@media (min-width: 768px) {
		height: 450px;
	}
	@media (min-width: 992px) {
		height: 500px;
	}
	@media (min-width: 1200px) {
		height: 600px;
	}
	
	
}
.map {
	margin-top: 20px;
	@media (min-width: 768px) {
		margin-top: 35px;
	}
	@media (min-width: 992px) {
		margin-top: 50px;
	}
}
#neighbourhood-map {
	position: relative;

	.walk-score,
	.transit-score {
		position: absolute;
		z-index: 1;
		height: 120px;
		width: 120px;
		left: 20px;
		border-radius: 50%;
		text-align: center;
		color: $light-orange;
		padding-top: 15px;
		@media screen and (max-width: 991px) {
			position: static;
			margin: 0 10px;
		}
		h4 {
			font-size: 36px;
			line-height: 1;
			font-family: $gotham-r;
		}
		p {letter-spacing: initial;}
	}
	.walk-score {
		background-color: #807d87;
		top: 55px;

		.hr.xs {
			background-color: #fff;
			height: 1px;
		}
		p {color: #fff;}
	}
	.transit-score {
		top: 185px;
		background-color: #27252c;

		.hr.xs {
			background-color: $light-orange;
			height: 1px;
		}
	}
	.h-align {
		@media screen and (max-width: 991px) {
			display: flex;
			justify-content: center;
			margin: 30px 0;
		}
	}
}
#markers {
	
	background-color: #807d87;
	width: 100%;
	@media screen and (min-width: 992px) {
		position: static;
		position: absolute;
		top: 0;
		width: 275px;
		right: 0;
		height: 100%;
		
		overflow: hidden;
	}
	@media (min-width: 1200px) {
		width: 325px;
	}
}
#map-filters {
	color: #fff;

	.panel:first-child .catFilter {
		background-color: #4d4a56;
	}
	.panel {
		background-color: transparent;
		margin: 0;
		border: none;
		border-bottom: 1px solid #c4c4c4;
		border-radius: 0;

		&:nth-of-type(1) .catFilter {border-left: 5px solid #506b99;}
		&:nth-of-type(2) .catFilter {border-left: 5px solid #b7a264;}
		&:nth-of-type(3) .catFilter {border-left: 5px solid #715ea0;}
		&:nth-of-type(4) .catFilter {border-left: 5px solid #67a2b3;}
		&:nth-of-type(5) .catFilter {border-left: 5px solid #679368;}
		&:nth-of-type(6) .catFilter {border-left: 5px solid #ba7d6a;}
	}
	.panel-collapse {
		background-color: #27252c;
		padding-bottom: 15px;
		
		@media (min-width: 600px) {
			max-height: 300px;
			overflow: auto;
		}
		@media (min-width: 992px) {
			max-height: 189px;
		}
		@media (min-width: 1200px) {
			max-height: 288px;
		}
		li {
			padding: 0px 25px;
			@media (min-width: 992px) {
				padding: 0 30px;
			}
			

			&:last-child a {border-bottom: none;}
		}
		a {
			color: $bglgrey;
			padding: 15px 0;
			display: block;
			font-family: $gotham-r;
			text-transform: uppercase;
			font-size: 12px;
			border-bottom: 1px solid #666666;
			cursor: pointer;

			&:hover {
				color: $light-orange;
				text-decoration: none;
			}
		}
	}
}

.gm-style .gm-style-iw {
	text-align: center;
	.info-box {
		color: #ffffff;
		font-family: $gotham-r;
	}

}

#viewtabs {
	margin: 0;

	.catFilter {
		display: block;
		text-transform: uppercase;
		padding: 12px 25px;
		border-top: 1px solid #fff;
		font-family: $gotham-r;
		cursor: pointer;
		@media (min-width: 992px) {
			padding: 15px 25px;
		}
		&:first-child {border-top: none;}
	}

}

.test > div:last-of-type,
.test > div:nth-of-type(3) > div:first-child > div,
.test > div:nth-of-type(3) > div:last-child > div {
	background-color: #b7a264 !important;
}
#hook {
	color: #fff;
	font-family: $gotham-r;
	padding-top: 10px;
}


/* ################################## COTNACT PAGE STYLES ################################## */

#contact {
	.intro {
		h2 {
			color: $light-orange;
		}
		h3 {
			color: $light-orange;
		}
	}
	.contact-us {
		background-color: $light-orange;

		p, p a {
			color: #fff;
			a {
				text-decoration: underline;
			}
		}
		.border-vline {
			border-left: none;
			
			@media screen and (min-width: 768px) {
				border-color: #e9dad0;
			}
		}
	}
	.request-info {
		background-color: #f3f3f3;
		padding: 40px 0 45px;
		@media (min-width: 992px) {
			padding: 80px 0 60px;
		}
		.hr {
			margin: 20px auto 50px;
		}
		

		h2 {@extend .mercury;}
		label {
			font-weight: normal;
			font-family: $gotham-r;
		}

		.form {
			max-width: 700px;
			margin: 0 auto;
			padding: 0px 15px;
		}

		input[type="text"],
		select,
		textarea {
			width: 100%;
			border: none;
			font-family: $gotham-m;
			padding: 10px;
			margin-bottom: 18px;
		}

		input[type="checkbox"] {
		    height: 25px;
		    width: 25px;
		    float: left;
		    margin-right: 13px;
		}
		input[type="submit"] {
			background-color: initial;
			padding: 10px 50px;
			transition: all .4s;
			margin-top: 25px;
			&:hover {
				background-color: #000;
				transition: all .4s;
			}
		}
		input[type="checkbox"]:checked + .checkbox {
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 8px;
				width: 8px;
				background-color: $light-orange;
				top: 2px;
				left: 2px;
			}
		}
		.checkbox-label {
			font-size: 12px;
			padding-left: 15px;
			@media screen and (max-width: 991px) {
				padding-left: 30px;
			}
		}
		.checkbox {
			position: absolute;
			border: none;
			height: 14px;
			width: 14px;
			border: 1px solid #fff;;
			background-color: #fff;
			margin-top: 4px;
			left: 0;
			@media screen and (max-width: 991px) {
				left: 15px;
			}
			&:hover {
				border-color: $light-orange;
				cursor: pointer;
			}
		}
		.help-block {
			margin-top: -12px;
		}
		.bgconsent .help-block {
			margin-top: 5px;
		}
		p {
			letter-spacing: initial;
		}
		hr {
			border-color: #6c6d70;
		}
		p.text-center {
			padding: 5px 0 15px;
			a {
				color: #333333;
				&:hover {
				}
			}
		}
		.g-recaptcha {
			display: inline-block;
			margin: 0 auto;
		}
	}
}



/* ################################## 360 VIEWS PAGE STYLES ################################## */

#views {
	.intro {
		background-color: #f3f3f3;

	}
	.info {

		margin-bottom: 25px;
		@media (min-width: 768px) {
			padding: 20px 0 5px;
		}

		h4 {
			@extend .mercury;
			margin: 20px 0 20px;
			display: inline-block;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				width: 38px;
				height: 1px;
				background-color: $almost-black;
				vertical-align: middle;
				margin: 0 10px;
				@media screen and (min-width: 600px) {
					width: 103px;
				}
				@media (min-width: 992px) {
					width: 152px;
				} 
			}
		}
		.h-align {
			display: flex;
			justify-content: center;
		}

	}
	.panorama-links {
			li {
				padding: 0px 2px;
				@media (min-width: 768px) {
					padding: 0px 5px;
				}
			}
		li:first-child a:before,
		li:last-child a:before {
			content: '';
			display: block;
			position: absolute;
			height: 18px;
			width: 1px;
			background-color: #000;
			top: -31px;
			right: 97px;
			@media (min-width: 992px) {

			}
		}
		li:first-child a:before {
			right: 23px;
			@media screen and (min-width: 600px) {
				right: 85px;
			} 
			@media screen and (min-width: 768px) {
				right: 80px;
			} 
			@media screen and (min-width: 992px) {
				right: 109px;
			}
		}
		li:last-child a:before {
			right: 17px;
			@media screen and (min-width: 600px) {
				right: 43px;
			}
			@media screen and (min-width: 768px) {
				right: 49px;
			}
			@media screen and (min-width: 992px) {
				right: 59px;
			}
		}
		a.info-link {
			display: inline-block;
		    margin-top: 0;
		    position: relative;
		    padding: 10px 16px;
		    font-size: 10px;
		    @media (min-width: 600px) {
		    	width: 140px;
		    }
		    @media (min-width: 992px) {
		    	width: 180px;
		    	font-size: 12px;
		    }
		}
		a.active {
			color: #fff;
			background-color: #000;
		}
		a:focus {text-decoration: none;}
	}
	.panorama {
		height: 250px;
		width: 100%;
		display: block !important;
		@media (min-width: 480px) {
			height: 350px
		}
		@media (min-width: 600px) {
			height: 450px
		}
		@media (min-width: 992px) {
			height: 550px;
		}
		@media (min-width: 1200px) {
			height: 650px;
		}
		.arrow-left,
		.arrow-right {
			margin: -23px 0 0;
			padding: 0;
			background-color: $light-orange;
			width: 50px;
			height: 72px !important;

			&:before,
			&:after {
				background-color: $almost-black;
			}
			&:before {
				top: 19px;
			}
			&:after {
				top: 33px;
			}

		}
		.arrow-left {
			left: 0;			
		}
		.arrow-right {
			right: 0;
		}
	}
}



/* ################################## FOOTER STYLES ################################## */

.contact-us {
	background-color: #ebe1db;
	padding: 25px 0 40px;
	
	color: $almost-black;
	@media (min-width: 768px) {
		padding: 35px 0px 45px;
	}
	@media (min-width: 1200px) {
		padding: 50px 0px;
	}
	.container {
		max-width: 900px;
	}
	h3, h4 {
		@extend .mercury;
	}
	h4 {
		margin-bottom: 0px;
		@media screen and (max-width: 479px) {
			font-size: 18px;
		}
		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}
	h3 {
		font-size: 30px;
		@media screen and (max-width: 767px) {
			font-size: 30px;
		}
	}
	h3 + .hr {
		height: 3px;
		background-color: $almost-black;
	}
	.hr {
		height: 1px;
		background-color: #a39c9a;
		margin: 20px auto;
	}
	p {
		line-height: 1.6;
		margin-top: 5px;
		@media screen and (max-width: 767px) {
			margin-top: 5px;
		}
	}
	a {
		color: $almost-black;
		text-decoration: none;
	}
	.border-vline {
		@media (min-width: 768px) {
			border-left: 1px solid; 
		}		
	}
	.social {
		margin-top: 15px;
		@media (min-width: 768px) {
			margin-top: 25px;
		}
		@media (min-width: 992px) {
			margin-top: 35px;
		}
		
		a {
			padding: 0 10px;
		    font-size: 18px;

			@media (min-width: 768px) {
				padding: 0 18px;
		    	font-size: 22px;
			}
			@media (min-width: 992px) {
				padding: 0 15px;
			font-size: 30px;
			}
			&:hover {
				color: darken($light-orange, 25%);
			}
		}
		.fair-trade {
			margin: -10px 10px 0px;
			width: 27px;
			@media (min-width: 768px) {
				width: 32px;
				margin-top: -16px;
			}
			@media (min-width: 992px) {
				margin: -20px 15px 0px;
				width: 40px;
			}
		}
	}
}

.go-top {
	a {
		display: block;
		background-color: #4d4a56;
		padding: 10px 0;
		color: #fff;
		@extend .mercury;
		font-size: 16px;
		cursor: pointer;
		@media (min-width: 768px) {
			font-size: 18px;
		}
		&:hover {
			text-decoration: none;
			background: lighten(#4d4a56,10%);
		}
	}
}
footer {
	background-color: $almost-black;
	padding-top: 35px;
	.box-text {
		max-width: 500px;
		padding: 0px 15px;
		margin: 0 auto;
	}
	.developed-by {
		font-family: $gotham-i;
		letter-spacing: 1.3px;
		color: #fff;
		font-size: 10px;

		img {
			margin-left: 10px;
		}
	}
	p,
	.copyright {
		color: #959595;
		font-size: 10px;
		font-family: $gotham-r;
	}
	.copyright {
		padding: 10px 0 30px;
	}
}



/* ################################## OTHER STYLES ################################## */




.info, .v-align {
	@media screen and (min-width: 768px) {
		padding: 0;
	}
	& > div {
		@media screen and (min-width: 768px) {
		display: table;
		width: 100%;
		}
	}
	.row {
		@media screen and (min-width: 768px) {display: table-row;}
	}
	.img, .description {
		@media screen and (min-width: 768px) {
		display: table-cell;
		float: none;
		padding: 0;
		}
	}
	.description {
		@media screen and (min-width: 768px) {
		vertical-align: middle;
		margin-top: 0;
		}
	}
	
}



a {
	transition: all 0.3s;
	&:hover {transition: all 0.3s;}
}

.info-link {
	text-transform: uppercase;
	display: inline-block;
	margin-top: 50px;
	font-family: $gotham-m;
	color: $almost-black;
	border: 3px solid #000;
	padding: 10px 20px;

	&:hover {
		color: #fff;
		background-color: #000;
		text-decoration: none;
	}
}
.hr {
	content: '';
	display: block;
	height: 2px;
	width: 50px;
	background: $almost-black;
	margin: 10px auto;
	@media (min-width: 600px) {
		margin: 20px auto;
	}
	@media (min-width: 768px) {
		margin: 25px auto;
		width: 57px;
	}
}
.hr.xs {
	width: 10px;
	background-color: #c7c7c7;
	margin: 5px auto;
}
footer .hr {
	background: #a9a8aa;
	height: 1px;
}
.underline {
	font-family: $gotham-r;
	text-transform: uppercase;
	border-bottom: 2px solid;
	display: inline;
	line-height: 1.5;
}
.full-screen {
	height: 100vh;
	overflow: hidden;
}
.overflow-h {
	overflow: hidden;
}
.arrow-left,
.arrow-right {
	height: 30px !important;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: 48%;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 20px;
		width: 1px;
		background-color: #fff;
		position: absolute;
	}
}
.arrow-left {

	left: -50px;
	@media screen and (max-width: 767px) {
		left: 30%;
	}
	&:before {
		transform: rotate(45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(-45deg);
		top: 14px;
		left: 50%;
	}
}
.arrow-right {

	right: -50px;
	@media screen and (max-width: 767px) {
		right: 30%;
	}
	&:before {
		transform: rotate(-45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(45deg);
		top: 14px;
		left: 50%;
	}
}
.close-lb {
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: -50px;
	right: 0;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 30px;
		width: 1px;
		background-color: #fff;
		position: absolute;
	}
	&:before {
		transform: rotate(-45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(45deg);
		left: 50%;
	}
}
.lb-data .lb-close {display: none !important;}




/*************** EXTRAS ******************/

.lightbox .lb-image {
	border: none !important;
	border-radius: 0px !important;
}
.lb-data .lb-number {
	display: none !important;
}
.lb-container .arrow-left, .lb-container .arrow-right {
	@media screen and (max-width: 767px) {
	top: auto;
	bottom: -60px !important;
	}
}
