@font-face {
    font-family: "Mercury Display Italic";
    src: url(../fonts/MercuryDisplayItalic.ttf);
}
@font-face {
    font-family: "Gotham Book Italic";
    src: url(../fonts/GothamBookItalic.ttf);
}
@font-face {
    font-family: "Gotham Book Regular";
    src: url(../fonts/GothamBookRegular.otf);
}
@font-face {
    font-family: "Gotham Medium";
    src: url(../fonts/GothamMedium.otf);
}
@font-face {
    font-family: fa;
    src: url(../fonts/FontAwesome.otf);
}

$gray: #e9e9e9;
$light-orange: #dcc4b5;
$almost-black: #27252b;

$mercury-i: "Mercury Display Italic";
$gotham-i: "Gotham Book Italic";
$gotham-r: "Gotham Book Regular";
$gotham-m: "Gotham Medium";


/* ################################## HEADER STYLES ################################## */

header {
	#top-line {
		background: #27252c;
		text-transform: uppercase;
		padding: 0;

		ul {
			float: right;
			margin: 0;
			display: table;

			a {
				padding: 15px 25px;
				display: block;
				color: #fff;
				font-family: $gotham-m;

				&:hover {
					text-decoration: none;
					background-color: #6c6d70 !important;
				}
			}
			li {padding: 0;}
			li:last-child a {
				background: $light-orange;
				color: $almost-black;

				&:hover {color: #fff;}
			}
		}
		
	}
	.nav {
		a {
			text-transform: uppercase;
			color: #27252c;
			font-family: $gotham-m;
			padding: 35px 15px;

		}
	}
	.navbar-brand {
		display: block;
		margin-left: 0 !important;
		height: auto;
		padding: 19px 45px;
	}
	.navbar-header {
		background-color: #cbcbcb;
		text-align: center;
		margin: 0 !important;

		.icon-bar {
			background-color: $almost-black;
			width: 30px;
		}
	}
	.navbar-toggle {
		float: none;
		margin-right: 0;
	}
	.navbar {
		margin: 0;
		border: none;
		border-bottom: 1px solid #c5c5c5;
		border-radius: 0;

		.container,
		.navbar-collapse {padding: 0;}
	}
	.extended-nav {
		background-color: $almost-black;
		text-align: center;
		width: 100%;

		a {
			text-transform: uppercase;
			padding: 25px 0;
			display: block;
			color: #fff;
			font-family: $gotham-m;

			&.last {
				background-color: $light-orange;
				color: $almost-black;
			}
			&:hover {
				text-decoration: none;
				background-color: #6c6d70;
				color: #fff;
			}
		}
	}
}
#home,
#amenities,
#features {

	.intro {
		
		width: 100%;

		h2 {
			color: $light-orange;
			border-bottom: 2px solid;
			display: inline;
			font-size: 34px;
			font-family: $gotham-r;
			text-transform: uppercase;
			line-height: 1.5;
		}
		.intro-logo {
			margin: 40px 0 30px;
			img {margin: auto;}
		}
		h3 {
			color: $light-orange;
			font-family: $mercury-i;
			font-size: 33px;
		}
	}
	.intro-desc {
		background-color: $gray;
		padding: 55px 0;

		p {
			color: #6c6d70;
		}
	}
	.info {

		.img, .description {
			padding: 0;
		}
		.description {
			margin-top: 50px;
		}
		img {
			width: 100%;
		}
		h3 {
			font-family: $mercury-i;
			font-size: 28px;
			color: $almost-black;
			margin-top: 0;
		}
		p {
			color: $almost-black;
		}
	}
}

/* ################################## HOME PAGE STYLES ################################## */

#home {

	.intro {
		background: radial-gradient(circle at center, rgba(0,0,0, .3) 21vh, rgba(0,0,0, 0) 25vh),
					url(../img/bg.jpg) no-repeat center bottom;
		background-size: cover;
		padding: 120px 0 40px;
	}
	.arrow-down {
		height: 30px;
		width: 30px;
		margin: auto;
		margin-top: 150px;
		cursor: pointer;

		&:before,
		&:after {
			content: '';
			display: block;
			height: 20px;
			width: 1px;
			background-color: #fff;
			position: absolute;
		}
		&:before {
			transform: rotate(-45deg);
			margin-left: 7px;
		}
		&:after {
			transform: rotate(45deg);
			margin-left: 21px;
		}
	}
	.intro-desc {

		h3 {
			font-family: $mercury-i;
			font-size: 30px;
			color: $almost-black;
		}
	}
	.intro-video {

		margin-bottom: -5px;
		position: relative;

		.video-controls {
			position: absolute;
			width: 100%;
			top: 0;
			display: flex;
			align-items: center;
			height: 100%;

			& > div {width: 100%;}
		}
		video {
			object-fit: cover;
			width: 100%;
			cursor: pointer;
		}
		.video-icon {
			height: 52px;
			width: 52px;
			background-color: $light-orange;
			margin: 0 auto 15px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				border: 7px solid transparent;
				border-left: 7px solid black;
				margin: 19px 0 0 23px;
			}
		}
		a {
			text-transform: uppercase;
			color: $light-orange;
			font-family: $gotham-m;
			letter-spacing: 2px;
			cursor: pointer;
		}
	}

	.video-desc {
		background-color: $gray;
		padding: 35px 0 55px;

		p {
			color: #535454;
		}
	}
	.gallery {
		background-color: $gray;
		padding: 60px 0 50px;

		h3 {
			font-family: $mercury-i;
			font-size: 30px;
			color: $almost-black;
		}
		p {
			margin-bottom: 30px;
			color: $almost-black;
		}
		img {
			margin-bottom: 15px;
		}
	}
}
.gallery,
#gallery {

	img {
		display: block;
		margin: auto;
		width: 100%;
		max-height: 400px;
		object-fit: cover;
		object-position: center bottom;
		transition: all .4s;

		&:hover {
			opacity: .5;
			transition: all .4s;
		}
	}

}
p {
	font-size: 12px;
	letter-spacing: 1.2px;
	font-family: $gotham-r;
}

/* ################################## GALLERY PAGE ################################## */

#gallery {
	padding: 50px 0 90px;

	h3 {
		font-family: $mercury-i;
		font-size: 30px;
	}
	p {
		margin-top: 40px;
		font-size: 14px;
	}
	.row {
		margin-top: 15px;

		& > div {
			padding: 0 7px;
		}
	}
}

/* ################################## AMENITIES PAGE ################################## */

#amenities,
#features,
#contact {
	.intro {
		background: radial-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)),
					url(../img/bg.jpg) no-repeat center 93%;
		background-size: cover;
		padding: 60px 0 70px;
	}
}

#amenities,
#features {
	
	.arrow-left {
		left: 0;
	}
	.arrow-right {
		left: auto;
		right: 0;
	}
	.intro-desc {background-color: #fff;}
	.info {background-color: #f3f3f3;}
}
#amenities,
#features,
#neighborhood {
	.arrow-left,
	.arrow-right {
		background-color: $almost-black;
		height: 55px !important;
		width: 40px;
		top: auto;

		&:before {top: 19px;}
		&:after {top: 27px;}
		&:before,
		&:after {
			height: 12px;
			background-color: $light-orange;
		}
	}
	.carousel-control {
		background-image: none;
		opacity: 1;
		display: flex;
		align-items: center;
	}
}

/* ################################## NEIGHBORHOOD PAGE ################################## */
#neighborhood {
	padding-top: 50px;

	.arrow-left {left: -40px;}
	.arrow-right {right: -40px;}
	.carousel {
		margin: 50px 0;
		background-color: #f3f3f3;
	}
	h2 {
		font-family: $gotham-r;
	}
	h3 {
		font-family: $mercury-i;
		font-size: 30px;
	}

}
#map {
	height: 60vh;
	width: 100%;
}
.map {
	margin-top: 50px;
}
#neighbourhood-map {
	position: relative;

	.walk-score,
	.transit-score {
		position: absolute;
		z-index: 1;
		height: 120px;
		width: 120px;
		left: 20px;
		border-radius: 50%;
		text-align: center;
		color: $light-orange;
		padding-top: 15px;

		h4 {
			font-size: 36px;
			line-height: 1;
			font-family: $gotham-r;
		}
		p {letter-spacing: initial;}
	}
	.walk-score {
		background-color: #807d87;
		top: 20px;

		.hr.xs {
			background-color: #fff;
			height: 1px;
		}
		p {color: #fff;}
	}
	.transit-score {
		top: 160px;
		background-color: #27252c;

		.hr.xs {
			background-color: $light-orange;
			height: 1px;
		}
	}
}
#markers {
	position: absolute;
	top: 0;
	background-color: #807d87;
	right: 0;
	height: 100%;
	width: 20vw;
	overflow: hidden;
}
#map-filters {
	color: #fff;

	.panel:first-child .catFilter {
		background-color: #4d4a56;
	}
	.panel {
		background-color: transparent;
		margin: 0;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 0;

		&:nth-of-type(1) .catFilter {border-left: 5px solid #506b99;}
		&:nth-of-type(2) .catFilter {border-left: 5px solid #b7a264;}
		&:nth-of-type(3) .catFilter {border-left: 5px solid #715ea0;}
		&:nth-of-type(4) .catFilter {border-left: 5px solid #67a2b3;}
		&:nth-of-type(5) .catFilter {border-left: 5px solid #679368;}
		&:nth-of-type(6) .catFilter {border-left: 5px solid #ba7d6a;}
	}
	.panel-collapse {
		background-color: #27252c;
		padding-bottom: 15px;
		max-height: 168px;
		overflow: auto;

		li {
			padding: 0 30px;

			&:last-child a {border-bottom: none;}
		}
		a {
			color: #fff;
			padding: 15px 0;
			display: block;
			font-family: $gotham-r;
			text-transform: uppercase;
			font-size: 12px;
			border-bottom: 1px solid #fff;
			cursor: pointer;

			&:hover {
				color: $light-orange;
				text-decoration: none;
			}
		}
	}
}
#viewtabs {
	margin: 0;

	.catFilter {
		display: block;
		text-transform: uppercase;
		padding: 25px;
		border-top: 1px solid #fff;
		font-family: $gotham-m;
		cursor: pointer;

		&:first-child {border-top: none;}
	}

}

.test > div:last-of-type,
.test > div:nth-of-type(3) > div:first-child > div,
.test > div:nth-of-type(3) > div:last-child > div {
	background-color: #b7a264 !important;
}
#hook {
	color: #fff;
	font-family: $gotham-r;
	padding-top: 10px;
}

/* ################################## COTNACT PAGE STYLES ################################## */

#contact {
	.intro {
		h2 {
			color: $light-orange;
		}
		h3 {
			font-family: $mercury-i;
			font-size: 30px;
			color: $light-orange;
		}
	}
	.contact-us {
		background-color: $light-orange;

		p, p a {
			color: #fff;
		}
		.border-vline {
			border-color: #fff;
		}
	}
	.request-info {
		background-color: #f3f3f3;
		padding: 70px 0 90px;

		h2 {font-family: $mercury-i;}
		label {
			font-weight: normal;
			font-family: $gotham-r;
		}
		input[type="text"],
		textarea {
			width: 100%;
			border: none;
			font-family: $gotham-m;
			padding: 12px;
			margin-bottom: 30px;
		}
		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
		}
		input[type="submit"] {
			background-color: initial;
			padding: 10px 50px;
			transition: all .4s;

			&:hover {
				background-color: #000;
				transition: all .4s;
			}
		}
		input[type="checkbox"]:checked + .checkbox {
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 8px;
				width: 8px;
				background-color: $light-orange;
				top: 2px;
				left: 2px;
			}
		}
		.checkbox-label {padding-left: 15px;}
		.checkbox {
			position: absolute;
			border: none;
			height: 14px;
			width: 14px;
			border: 1px solid #fff;;
			background-color: #fff;
			margin-top: 4px;
			left: 0;

			&:hover {
				border-color: $light-orange;
				cursor: pointer;
			}
		}

		p {
			letter-spacing: initial;
		}
		hr {
			border-color: $almost-black;
		}
		p.text-center {
			padding: 5px 0 15px;
		}
	}
}


/* ################################## 360 VIEWS PAGE STYLES ################################## */

#views {
	.intro {
		padding: 50px 0 90px;
		background-color: #f3f3f3;
		h3 {
			font-family: $mercury-i;
			font-size: 30px;
		}
	}
	.info {

		margin-bottom: 25px;

		h4 {
			font-family: $mercury-i;
			margin: 20px 0 20px;
			display: inline-block;

			&:before,
			&:after {
				content: '';
				display: inline-block;
				width: 150px;
				height: 1px;
				background-color: $almost-black;
				vertical-align: middle;
				margin: 0 10px;
			}
		}
		.h-align {
			display: flex;
			justify-content: center;
		}
	}
	.panorama-links {

		li:first-child a:before,
		li:last-child a:before {
			content: '';
			display: block;
			position: absolute;
			height: 18px;
			width: 1px;
			background-color: #000;
			top: -31px;
			right: 97px;
		}
		li:last-child a:before {
			right: 92px;
		}
		.info-link {
			width: 200px;
			margin-top: 0;
			position: relative;
		}
		a.active {
			color: #fff;
			background-color: #000;
		}
		a:focus {text-decoration: none;}
	}
	.panorama {
		height: 650px;
		width: 100%;
		display: block !important;

		.arrow-left,
		.arrow-right {
			margin: -23px 0 0;
			padding: 0;
			background-color: $light-orange;
			width: 50px;
			height: 72px !important;

			&:before,
			&:after {
				background-color: $almost-black;
			}
			&:before {
				top: 19px;
			}
			&:after {
				top: 33px;
			}

		}
		.arrow-left {
			left: 0;			
		}
		.arrow-right {
			right: 0;
		}
	}
}

/* ################################## FOOTER STYLES ################################## */

.contact-us {
	background-color: #ebe1db;
	padding: 50px 0;
	color: $almost-black;

	h3, h4 {
		font-family: $mercury-i;
	}
	h3 {
		font-size: 30px;
	}
	h3 + .hr {
		height: 3px;
		background-color: $almost-black;
	}
	.hr {
		height: 1px;
		background-color: #a39c9a;
	}
	p {
		line-height: 1.6;
		margin-top: 15px;
	}
	a {
		color: $almost-black;
		text-decoration: underline;
	}
	.border-vline {
		border-left: 1px solid;
	}
	.social a {
		margin: 0 15px;
		font-size: 30px;

		&:hover {
			color: darken($light-orange, 25%);
		}
	}
}

.go-top {
	background-color: #4d4a56;
	padding: 20px 0;

	a {
		color: #fff;
		font-family: $mercury-i;
		font-size: 16px;
		cursor: pointer;
	}
}
footer {
	background-color: $almost-black;
	padding-top: 35px;

	.developed-by {
		font-family: $gotham-i;
		letter-spacing: 1.3px;
		color: #fff;
		font-size: 10px;

		img {
			margin-left: 10px;
		}
	}
	p,
	.copyright {
		color: #959595;
		font-size: 10px;
		font-family: $gotham-r;
	}
	.copyright {
		padding: 10px 0 30px;
	}
}

/* ################################## OTHER STYLES ################################## */

a {
	transition: all 0.3s;
	&:hover {transition: all 0.3s;}
}
.info-link {
	text-transform: uppercase;
	display: inline-block;
	margin-top: 50px;
	font-family: $gotham-m;
	color: $almost-black;
	border: 3px solid #000;
	padding: 10px 20px;

	&:hover {
		color: #fff;
		background-color: #000;
		text-decoration: none;
	}
}
.hr {
	content: '';
	display: block;
	height: 2px;
	width: 57px;
	background: $almost-black;
	margin: 25px auto;
}
.hr.xs {
	width: 10px;
	background-color: #c7c7c7;
	margin: 5px auto;
}
footer .hr {
	background: #a9a8aa;
	height: 1px;
}
.underline {
	font-family: $gotham-r;
	text-transform: uppercase;
	border-bottom: 2px solid;
	display: inline;
	line-height: 1.5;
}
.full-screen {
	height: 100vh;
	overflow: hidden;
}
.overflow-h {
	overflow: hidden;
}
.arrow-left,
.arrow-right {
	height: 30px !important;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: 48%;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 20px;
		width: 1px;
		background-color: #fff;
		position: absolute;
	}
}
.arrow-left {

	left: -50px;
	&:before {
		transform: rotate(45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(-45deg);
		top: 14px;
		left: 50%;
	}
}
.arrow-right {

	right: -50px;
	&:before {
		transform: rotate(-45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(45deg);
		top: 14px;
		left: 50%;
	}
}
.close-lb {
	height: 30px;
	width: 30px;
	cursor: pointer;
	position: absolute;
	top: -50px;
	right: 0;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 30px;
		width: 1px;
		background-color: #fff;
		position: absolute;
	}
	&:before {
		transform: rotate(-45deg);
		left: 50%;
	}
	&:after {
		transform: rotate(45deg);
		left: 50%;
	}
}
.lb-data .lb-close {display: none !important;}

/* ################################## MEDIA QUERIES ################################## */

@media screen and (min-width: 1200px) {
	#home .gallery {
		.img-sm {max-height: 220px;}
		.img-md {max-height: 400px;}
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	header .nav a {
		padding: 35px 10px;
		&.active:after {width: calc(100% - 20px);}
	}
	header .navbar-brand {
		padding: 19px 7px;
	}
	#home {

		.intro {
			background: radial-gradient(circle at center,rgba(0,0,0,.3) 17vh,transparent 25vh),
						url(../img/bg.jpg) center bottom no-repeat;
			background-size: cover;
		}
		.info .description {
			margin-top: 20px;
		}
	}
	#home .gallery,
	#gallery .gallery {
		.img-sm {max-height: 177px;}
		.img-md {max-height: 335px;}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.navbar .container {
		width: 100%;
	}
	#home .intro {
		background: radial-gradient(circle at center,rgba(0,0,0,.3) 17vh,transparent 25vh),
					url(../img/bg.jpg) center bottom no-repeat;
		background-size: cover;
	}
	#home .gallery,
	#gallery .gallery {
		.img-sm {max-height: 133px;}
		.img-md {max-height: 250px;}
	}
	#amenities,
	#features {
		.info h3 {font-size: 24px;}
		.info .hr:not(.xs) {margin: 15px auto;}
	}
}

@media screen and (min-width: 992px) {
	.nav a.active:after {
		content: '';
		display: block;
		width: calc(100% - 30px);
		height: 2px;
		background: $almost-black;
		position: absolute;
	}
}

@media screen and (max-width: 991px) {
	header {
		.logo-sm {
			margin: 15px 0;
		}
		.navbar {

		}
		.navbar-collapse, .nav {
			margin: 0 !important;
		}
		.navbar-collapse {
			background-color: $gray;
		}
		ul.nav {
			text-align: center;
			a:hover {text-decoration: underline;}
			li:after {
				content: '';
				display: block;
				height: 1px;
				width: 13px;
				background-color: $almost-black;
				margin: auto;				
			}
			&:nth-of-type(2) li:last-child:after {
				display: none;
			}
		}
		.navbar-brand {
			float: none;
			img {margin: auto;}
		}
	} 
	h3 {
		font-size: 22px !important;
	}
	h2 {
		font-size: 26px !important;
	}
	#home {
		.info {
			img {
				width: 100%;
			}
		}
		.gallery img {
			margin-bottom: 15px;
		}		
	}
	.contact-us {
		.social {
			margin-top: 25px;
		}
	}
	#contact {
		.request-info .checkbox-label {padding-left: 30px;}
		.request-info .checkbox {left: 15px;}
	}
	#neighbourhood-map {
		.walk-score,
		.transit-score {position: static;}
	}
	#markers {
		position: static;
		width: 100%;
	}
	#neighbourhood-map .h-align {
		display: flex;
		justify-content: center;
		margin: 30px 0;

		.walk-score,
		.transit-score {
			margin: 0 10px;
		}
	}
}

@media screen and (max-width: 767px) {
	header .responsive-nav {
		overflow-y: scroll;
	}
	#home {
		.intro {
			background: radial-gradient(circle at center,rgba(0,0,0,.3) 12vh,transparent 18vh),
						url(../img/bg.jpg) center bottom no-repeat;
			background-size: cover;

			h2, h3 {
				margin-bottom: -8%;
			}
		}
	}
	.info .description {
		margin-bottom: 50px;
	}
	.gallery img {
		max-height: none !important;
	}
	.contact-us .border-vline {
		border-left: none;
	}
	#gallery .gallery {
		.row {
			margin: 0;
		}
		img {
			margin-top: 15px;
		}
	}
	.lb-container .arrow-left,
	.lb-container .arrow-right {
		top: auto;
		bottom: -60px !important;
	}
	.arrow-left {
		left: 30%;
	}
	.arrow-right {
		right: 30%;
	}
	#neighborhood {

		.container {
			padding: 0;
		}
		.carousel {
			img {width: 100%;}
			.description {
				padding: 35px 0 50px;
				margin-bottom: 30px;

				.row {margin: 0;}
			}
		}
		
		.carousel-control {
			display: block;
			width: 50%;

			.arrow-left {
				left: auto;
				right: 0;
				bottom: 0;
				border-right: 1px solid $light-orange;
			}
			.arrow-right {
				right: auto;
				left: 0;
				bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#home {
		.gallery {
			.row > div:first-child {
				padding-right: 0;
			}
		}
	}
	.info,
	.v-align {
		padding: 0;

		& > div {
			display: table;
			width: 100%;
		}
		.row {display: table-row;}
		.img, .description {
			display: table-cell;
			float: none;
			padding: 0;
		}
		.description {
			vertical-align: middle;
			margin-top: 0;
		}
	}
	#neighborhood .container {padding: 0 40px;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#views {
		.info .info-link {
			width: 140px;
			padding: 10px 0;
			font-size: 12px;
		}
		h4 {

			&:before,
			&:after {
				width: 100px !important;
			}
		}
		.panorama-links {

			li:first-child a:before {
				right: 77px;
			}
			li:last-child a:before {
				right: 52px;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	#views {
		.info .info-link {
			width: auto;
			font-size: 10px;
		}
		h4 {

			&:before,
			&:after {
				width: 40px !important;
			}
		}
		.panorama-links {

			li:first-child a:before {
				right: 16px;
			}
			li:last-child a:before {
				right: 33px;
			}
		}
	}
}